* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#items {
  gap: 10px;
}

#mainBody {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  place-items: center;
  height: 100%;
}